
<div #element></div>
<fieldset>
    <legend>
      Datalist Form
    </legend>
    <label>Select Browser</label>
    <input  autocomplete="off" role="combobox" list="" id="input" name="browsers" placeholder="{{placeholder}}">
    <span class="material-symbols-outlined">
        expand_more
    </span>
  <!-- Its important that you keep list attribute empty to hide the default dropdown icon and the browser's default datalist -->

  <datalist id="browsers" role="listbox">
    <option *ngFor="let option of options" [value]="option">{{option}}</option>
  </datalist>
  </fieldset>
