@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

  fieldset span { 
    position: relative;
    content: "e5cf";
    top: -35px;
    right: 10px;
    float: right;
    height: 20px;
    width: 20px;
} 
datalist .boldoption {
    padding: 10px;
    overflow-x: hidden;
    overflow-wrap: break-word;
}